<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      .header { background: #000; color: white; padding: 3px; position: fixed; width: 100%; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; padding-top: 35px; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
  </head>
  <body>
    <div class="header">
      <p>
        Html server: {{htmlserver}}
      </p>
      Websocket server:
      <span id="websocketserver"></span>
    </div>
    <ul id="messages"></ul>
    <form action="">
      <input type="hidden" id="websocket_host" value={{websocketHost}}></input>
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      var websocketHost = $('#websocket_host').val();
      console.log('Connecting to websocket host: ', websocketHost);
      var socket = io(websocketHost);

      $('form').submit(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('hostname', function(hostname){
        $('#websocketserver').html(hostname);
      });
      socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
      });
      socket.on('connect', function() {
        $('#messages').append($('<li style="background:green;">').text('connected'));
      });
      socket.on('connect_error', function() {
        $('#messages').append($('<li style="background:red;">').text('disconnected'));
      });
    </script>
  </body>
</html>
