<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <base href="frontend/">
    <title>Caramail</title>
    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>
  <body>
    <div class="header">
      <div class="element">
        The HTML is served by
        <span class="name">{{htmlserver}}</span>
        <br>
        The WebSocket server is
        <span class="name" id="websocketserver"></span>
      </div>
    </div>
    <form class="invisible" action="">
      <input type="hidden" id="websocket_host" value={{websocketHost}}></input>
      <input type="hidden" id="websocket_path" value={{websocketPath}}></input>
    </form>

    <ul class="pages">
      <li class="chat page">
        <div class="chatArea">
          <ul class="messages"></ul>
        </div>
        <input class="inputMessage" placeholder="Type here..."/>
      </li>
      <li class="login page">
        <div class="form">
          <h3 class="title">What's your nickname?</h3>
          <form action="#">
            <input class="usernameInput" type="text" maxlength="14" />
          </form>
        </div>
        <div class="footer">
          If you refresh this page, the <u>HTML</u> might come from a <u>different</u> server.
          <br>
          But the connection to the "<u>WebSocket</u>" is always to the <u>same</u> server <br>
          in order not to break socket.io's polling transport.
        </div>
      </li>
    </ul>

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
